
header {
    text-align: center;
    color: #FFFF;
    }

    .profile-picture{
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    .section{
        margin: auto;
        padding: 1rem;
        background-color: whitesmoke;
   }

   .card:hover{
    cursor: pointer;
   }
